@font-face {
  font-family: "Akkurat-Reg";
  src: url("/fonts/lineto-akkurat-regular-c.woff") format('woff');
  font-weight: 700;
}
@font-face {
  font-family: "Akkurat-Bold";
  src: url("/fonts/lineto-akkurat-bold-c.woff") format('woff');
  font-weight: 400;
}
