*
 +below($tablet)
  font-size: 12pt

body
  color: $brand
  font-family: Akkurat-Reg, sans-serif
  font-size: 14pt
  line-height: 1.25em
  margin: 0
  padding: 0
  width: 100%

h1,
h2,
h3,
h4
  font-family: Akkurat-Bold, sans-serif
  margin: 0
  padding: 0

h1
  font-size: 5em
  line-height: 1em
  +below($tablet)
    font-size: 3em

a
  color: $brand

a:hover
  text-decoration: none
  background-color: $highlight
