{{ partial "header.html" . }}


  <div class="col col-12 mb1">
    <!-- <h1 class="hero-animation mb2">Love is a way to fight hatred.</h1> -->
    <div class="flex flex-wrap hero-animation">
        <img class="header-svg" src="/img/word-love.svg">
        <img class="header-svg" src="/img/word-is.svg">
        <img class="header-svg" src="/img/word-a.svg">
        <img class="header-svg" src="/img/word-way.svg">
        <img class="header-svg" src="/img/word-to.svg">
        <img class="header-svg" src="/img/word-fight.svg">
        <img class="header-svg" src="/img/word-hatred.svg">
    </div>
    <!-- <h1 class="hero-animation mb2">Action is a way to fight despair.</h1> -->
    <div class="flex flex-wrap hero-animation">
        <img class="header-svg" src="/img/word-action.svg">
        <img class="header-svg" src="/img/word-is.svg">
        <img class="header-svg" src="/img/word-a.svg">
        <img class="header-svg" src="/img/word-way.svg">
        <img class="header-svg" src="/img/word-to.svg">
        <img class="header-svg" src="/img/word-fight.svg">
        <img class="header-svg" src="/img/word-despair.svg">
    </div>
  </div>

  <div class="clearfix mb2">
    <h3>Take good care of yourself. Take extra care of those around you.</h3>
    <div class="col md-col-6 sm-col-12 pr2">
      <p>
        The world needs your brilliance right now. It needs your joy, your truth, your creativity and your commitment to justice. It needs your fierce and unapologetic demand for equality and opportunity and freedom for all. It needs your attention and your energy and your most tenacious effort.
        The world also needs your faith, your hope, and your recognition that we really are all connected; that we really are interdependent with one another and absolutely dependent upon the earth, the water, the air, and the life force of the entire planet. Reaching out, speaking up, listening, asking for help, and most importantly, offering it—this is how we build community, and deepen understanding and compassion.
      </p>
    </div>
    <div class="col md-col-6 sm-col-12 pl2">
      <p>
        Make yourself uncomfortable to make someone else safe.
        Stand up to hatred in every way. Speak up to those who are dishonest or cruel, and protest every infringement on civil rights and human decency. Find your calling as protector of those whose lives are not as fortunate as your own.
        Seek out ways to get involved with the things you care about. Learn more about things you may have not cared so much about until now, and find opportunities to support those doing necessary work. Question your assumptions. Recognize your biases. Offer your leadership with humility and your allyship with grace.
        Open yourself to possibility no matter how improbable it may seem. Challenge yourself to be braver and more generous than you have ever been.
        Love with all of your heart. Act with all of your soul.
      </p>
    </div>
  </div>

{{ partial "footer.html" . }}
