{{ partial "header.html" . }}


<div class="content-grid mb4">
      <a href="">
        <div class="card">
          <img src="/img/protest_womensmarch.jpg">
          <div class="card-caption">
            <span>1</span>
            <span class="info">With a shortfall of $18 million in the PNW and Hawaii region alone lorem ipsum sit dolor amet.</span>
            <img src="/img/logo.svg">
          </div>
        </div>
      </a>
      <a href="">
        <div class="card">
          <img class="card-image" src="/img/protest_womensmarch.jpg">
          <div class="card-caption">
            <span>Support Planned Parenthood today</span>
            <img src="/img/logo.svg">
          </div>
        </div>
      </a>
      <a href="">
        <div class="card">
          <img class="card-image" src="/img/protest_womensmarch.jpg">
          <div class="card-caption">
            <span>Support Planned Parenthood today</span>
            <img src="/img/logo.svg">
          </div>
        </div>
      </a>
      <a href="">
        <div class="card">
          <img class="card-image" src="/img/protest_womensmarch.jpg">
          <div class="card-caption">
            <span>2</span>
            <img src="/img/logo.svg">
          </div>
        </div>
      </a>
      <a href="">
        <div class="card">
          <img class="card-image" src="/img/protest_womensmarch.jpg">
          <div class="card-caption">
            <span>Support Planned Parenthood today</span>
            <img src="/img/logo.svg">
          </div>
        </div>
      </a>
      <a href="">
        <div class="card">
          <img class="card-image" src="/img/protest_womensmarch.jpg">
          <div class="card-caption">
            <span>3</span>
            <img src="/img/logo.svg">
          </div>
        </div>
      </a>
      <a href="">
        <div class="card">
          <img class="card-image" src="/img/protest_womensmarch.jpg">
          <div class="card-caption">
            <span>Support Planned Parenthood today</span>
            <img src="/img/logo.svg">
          </div>
        </div>
      </a>
      <a href="">
        <div class="card">
          <img class="card-image" src="/img/protest_womensmarch.jpg">
          <div class="card-caption">
            <span>4</span>
            <img src="/img/logo.svg">
          </div>
        </div>
      </a>
      <a href="">
        <div class="card">
          <img class="card-image" src="/img/protest_womensmarch.jpg">
          <div class="card-caption">
            <span>Support Planned Parenthood today</span>
            <img src="/img/logo.svg">
          </div>
        </div>
      </a>
</div>



{{ partial "footer.html" . }}
