.content {
  padding: 1em;
  max-width: 1200px;
}
.info {
  display: block;
  font-size: 0.75em;
}
.hero-animation {
  animation: text-fade 3s;
  animation-fill-mode: forwards;
  opacity: 0;
  top: 0;
  left: 0;
}
.hero-animation:nth-child(1) {
  animation-delay: 0.2s;
}
.hero-animation:nth-child(2) {
  animation-delay: 1s;
}
.menu-main {
  display: flex;
}
.menu-main-item {
  display: block;
  width: 100px;
  height: 100px;
}
.menu-main-item span {
  display: none;
}
@-moz-keyframes text-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}
@-webkit-keyframes text-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}
@-o-keyframes text-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}
@keyframes text-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}
