.content
  padding: 1em
  max-width: 1200px

.info
  display: block
  font-size: .75em

.header
  margin-bottom: 1rem

  ul
    display: flex
    align-items: center

    .home
      a
        display: block
        width: 80px
        height: 80px
        background-image: url(/img/logo.svg)

        span
          display: none

    li.home-mobile
      display: none

  #hamburger
    display: none

  +below($tablet)
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 70px;
    background: white;
    z-index: 1
    border-bottom: 1px solid rgb(232,248,254)

    #hamburger
      position: absolute;
      clip: rect(0, 0, 0, 0);

    label[for="hamburger"]
      display: block
      position: absolute
      right: 1em
      top: 1em
      width: 40px;
      height: 40px;
      cursor: pointer;
      background-image: url("/img/open-menu.svg")
      background-size: contain
      z-index: 1

      label > *
        pointer-events: none;

    ul
      flex-direction: column
      justify-content: center
      position: fixed
      align-items: flex-start
      width: 100%

      .home
        position: absolute
        left: 1em
        top: -.25em

        a
          width: 50px
          height: 50px

    ul li:not([class~="home"])
      display: none
      margin-left: 80px
      opacity: 0

    #hamburger:checked ~ label[for="hamburger"]
      background-image: url("/img/close-menu.svg")
      background-size: contain

    #hamburger:checked ~ ul
      height:  100%
      background: white

    #hamburger:checked ~ ul li
      display: block
      width: 45%
      animation: mobile-menu-link 1s forwards

      span
        font-size: 1.5em
        line-height: 3

.header + div
  +below($tablet)
    margin-top: 80px

@keyframes text-fade
  0%
    opacity: 0
  100%
    opacity: .9

.hero-animation:nth-child(1)
  animation-delay: .2s

.hero-animation:nth-child(2)
  animation-delay: 1s

.col-6-override
  width: 50%
  float: left

.sm-col-12
  +below($desktop)
    padding-left: 0

.hero-animation
  animation: text-fade 3s
  animation-fill-mode: forwards
  opacity: 0
  top: 0
  left: 0
  margin-bottom: 3em

  +below($desktop)
    margin-bottom: 2.25em

  +below(700px)
    margin-bottom: 1.875em

  +below($tablet)
    margin-bottom: 1.5em

.header-svg
  height: 4em
  margin-right: 1.5em
  margin-bottom: 1em

  +below($desktop)
    height: 3em
    margin-right: 1.125em
    margin-bottom: .75em

  +below(700px)
    height: 2.5em
    margin-right: .875em
    margin-bottom: .625em

  +below($tablet)
    height: 2em
    margin-right: .7em
    margin-bottom: .5em

@keyframes mobile-menu-link {
  100% {
    opacity: 1.0
  }
}
