.content {
  padding: 1em;
  max-width: 1200px;
}
.info {
  display: block;
  font-size: 0.75em;
  line-height: 1.5em;
}
.menu-logo {
  border-radius: 3em;
  shape-rendering: geometricPrecision;
}
.header {
  margin-bottom: 1rem;
below($tablet)
}
.header ul {
  display: flex;
  align-items: center;
}
.header ul .home a {
  display: block;
  width: 80px;
  height: 80px;
  background-image: url("/img/logo.svg");
}
.header ul .home a span {
  display: none;
}
.header ul li.home-mobile {
  display: none;
}
.header #hamburger {
  display: none;
}
.hero-animation:nth-child(1) {
  animation-delay: 0.2s;
}
.hero-animation:nth-child(2) {
  animation-delay: 1s;
}
.col-6-override {
  width: 50%;
  float: left;
}
.hero-animation {
  animation: text-fade 3s;
  animation-fill-mode: forwards;
  opacity: 0;
  top: 0;
  left: 0;
  margin-bottom: 3em;
below($desktop)
below(700px)
below($tablet)
}
.header-svg {
  height: 4em;
  margin-right: 1.5em;
  margin-bottom: 1em;
below($desktop)
below(700px)
below($tablet)
}
.about-image {
  float: right;
below(52em)
}
.about-copy {
  padding-top: 2em;
}
.author {
  float: right;
  width: 100%;
  margin-right: 2em;
below(52em)
}
.about-image-container {
  padding-left: 4rem;
below(52em)
}
@-moz-keyframes text-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}
@-webkit-keyframes text-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}
@-o-keyframes text-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}
@keyframes text-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}
@-moz-keyframes mobile-menu-link {
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes mobile-menu-link {
  100% {
    opacity: 1;
  }
}
@-o-keyframes mobile-menu-link {
  100% {
    opacity: 1;
  }
}
@keyframes mobile-menu-link {
  100% {
    opacity: 1;
  }
}
