.no-mobile {
  display: none;
}
@media screen and (min-width: 500px) {
  .no-mobile {
    display: block;
  }
}
.mobile-only {
  display: block;
}
@media screen and (min-width: 500px) {
  .mobile-only {
    display: none;
  }
}
@font-face {
  font-family: "Akkurat-Reg";
  src: url("/fonts/lineto-akkurat-regular-c.woff") format('woff');
  font-weight: 700;
}
@font-face {
  font-family: "Akkurat-Bold";
  src: url("/fonts/lineto-akkurat-bold-c.woff") format('woff');
  font-weight: 400;
}
@media screen and (max-width: 500px) {
  * {
    font-size: 12pt;
  }
}
body {
  color: #00a6e9;
  font-family: Akkurat-Reg, sans-serif;
  font-size: 14pt;
  line-height: 1.25em;
  margin: 0;
  padding: 0;
  width: 100%;
}
h1,
h2,
h3,
h4 {
  font-family: Akkurat-Bold, sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 5em;
  line-height: 1em;
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 3em;
  }
}
h2 {
  font-size: 2.5em;
  line-height: 1em;
}
h3 {
  font-size: 1.5em;
  line-height: 1em;
}
h4 {
  border-bottom: 2px solid #00a6e9;
  display: inline-block;
  font-size: 1em;
  letter-spacing: 0.12em;
  line-height: 1em;
  padding-bottom: 0.25em;
  text-transform: uppercase;
}
a {
  color: #00a6e9;
}
a:hover {
  text-decoration: none;
  background-color: #f9ffcc;
}
.content {
  padding: 1em;
  max-width: 1200px;
}
.info {
  display: block;
  font-size: 0.75em;
}
.hero {
  width: 100%;
}
.hero img {
  max-width: 4em;
}
