<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
<div class="content clearfix mx-auto">
  <div class="info overflow-auto mb3">
    <ul class="list-reset block menu-main">
      {{- range .Site.Pages.ByDate.Reverse }}
      <li class="left mr2 menu-main-item {{ .File.TranslationBaseName }}"><a href="{{ .Permalink }}" aria-label="{{ .Title }}">
          <span aria-hidden="true">{{ .Title }}</span>
      </a></li>
      {{- end }}
    </ul>
  </div>
