<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#00a6e9">
  <meta name="apple-mobile-web-app-title" content="Love Is Action">
  <meta name="application-name" content="Love Is Action">
  <meta name="theme-color" content="#ffffff">
  <title>Love Is Action</title>
</head>

<body>
<div class="content clearfix mx-auto">
  <div class="header info mb3">
    <input type="checkbox" id="hamburger" />
    <label for="hamburger" id="hamburger-helper"></label>


    <ul class="list-reset block">
      <li class="left mr2 home-mobile">
        <a href="/">
          <span>Home</span>
        </a>
      </li>
      {{- range .Site.Pages.ByWeight }}
      <li class="left mr2 {{ .Slug }}">
        <a class="menu-logo" href="{{ .RelPermalink }}" aria-label="{{ .Title }}">
          <span>{{ .Title }}</span>
        </a>
      </li>
      {{- end }}
    </ul>
  </div>
