<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
<div class="content clearfix mx-auto">
  <div class="header info overflow-auto mb3">
    <ul class="list-reset block">
      {{- range .Site.Pages.ByWeight }}
      <li class="left mr2 {{ .Slug }}">
        <a href="{{ .RelPermalink }}">
          <span>{{ .Title }}</span>
        </a>
      </li>
      {{- end }}
    </ul>

    <input type="checkbox" id="hamburger" />
    <label for="nav-trigger" id="hamburger-helper"></label>
  </div>
